#hud #dialogbox{
	position:fixed;
  left: 15%;
  top: 15%;
	background-color:var(--black);
	border:5px solid var(--white);
	border-radius:5px;
	padding:20px;
	display:table;
}
#hud #dialogbox #dialogboxinner{
	display:table-cell;
	vertical-align:middle;
}
#hud #dialogbox #dialogboxinner #dialogboxoptions{
  padding-top:10px;
}
#hud #dialogbox #dialogboxinner #dialogboxoptions span{
  display:inline-block;
  padding:0 20px 0 20px;
  position:relative;
}
#hud #dialogbox #dialogboxinner #dialogboxoptions span.hovered:before{
  font-size:.8rem;
  left:6px;
  top:1px;
  content:'>';
  position:absolute;
}
#stage[data-scene="intro"] #hud {
  display:none;
}
#stage[data-scene="outside"] #hud {
  background-color:rgba(0,0,0,.5);
  width:800px;
  left:0px;
  bottom:unset;
  height:80px;
  padding:5px;
}
#stage[data-scene="outside"] #hud #hud-players{
  margin-top:0px;
  float:left;
}
#stage[data-scene="outside"] #hud #hud-players .hud-player{
  border:2px solid #fff;
  border-radius:5px;
  padding:5px;
  margin-bottom:0px;
  padding-bottom:0;
  display:inline-block;
  width:205px;
}
#stage[data-scene="outside"] #hud-location{
  float:left;
  margin-right:10px;
}
#stage[data-scene="outside"] .hud-playernumber, #stage[data-scene="outside"] .hud-charicon{
  display:none;
}
#stage[data-scene="outside"] .hud-hp-max{
  width:100%;
  height:10px;
  border:1px solid grey;
  margin-bottom:5px;
  position:relative;
}
#stage[data-scene="outside"] .hud-hp{
  height:8px;
  background-color:green;
}
#stage[data-scene="outside"] #hud #hud-players .hud-player{
  margin-bottom:0px;
}
#stage[data-scene="outside"] #hud #hud-players .hud-player > div:first-child{
  padding:0 0 5px 0;
}
#stage[data-scene="outside"] .hud-items img{
  width:14px;
}
#hud {
  width:277px;
  position:absolute;
  left:523px;
  top:0;
  bottom:0;
  padding:20px;
}
#hud #hud-players{
  margin-top:20px;
}
#hud #hud-players .hud-player{
  border:5px solid #fff;
  border-radius:5px;
  padding:10px;
  margin-bottom:20px;
}
#hud #hud-players .hud-player > div:first-child{
  padding:0 0 10px 0;
}
.hud-playernumber,.hud-charicon{
  float:left;
  width:20%;
}
.hud-charname,.hud-chardetails{
  float:right;
  width:79%;
  text-align:right;
}
.hud-hp-max{
  width:100%;
  height:20px;
  border:1px solid grey;
  margin-bottom:10px;
  position:relative;
}
.hud-hp{
  height:18px;
  background-color:green;
}
