#world .bgMap{
  position: absolute;
  z-index: 5;
}
#world #no-go{
  position: absolute;
  z-index:10;
}
#no-go > div{
  position: absolute;
}
#no-go.debug > div{
  background-color: white;
  opacity: .5;
}
#world #doors{
  position: absolute;
  z-index:15;
}
#world #doors > div{
  position: absolute;
}
#world #doors.debug > div{
  background-color: blue;
  opacity: .5;
}
#world #items{
  position: absolute;
  z-index:16;
}
#world #items > div{
  position: absolute;
}
#world #items.debug > div{
  background-color: green;
  opacity: .5;
}

[data-scene="intro"] h1{
	text-align:center;
	padding: 100px 0;
	font-size: 8rem;
}
[data-scene="intro"] h2{
	text-align:center;
	padding: 0px 0;
	font-size: 1.5rem;
	line-height:1.25em;
}
[data-scene="characterSelect"] h3{
  text-align:center;
  font-size:3rem;
  margin:0;
  padding:40px 0 0 0;
}
[data-scene="characterSelect"] #characterSelectList{
  width:405px;
  margin:0 auto;
  padding-top:1px;
}
[data-scene="characterSelect"] #characterSelectList > div{
  margin:40px 0;
  position:relative;
}
[data-scene="characterSelect"] #characterSelectList .character-inner{
  width:auto;
  display:inline-block;
  text-align:center;
  vertical-align: middle;
}
[data-scene="characterSelect"] #characterSelectList .character-inner h4{
  margin:0;
  padding:0;
  font-size:.75rem;
}
[data-scene="characterSelect"] #characterSelectList .character-inner img{
  border:3px solid var(--white);
  border-radius:5px;
  padding:10px;
}
[data-scene="characterSelect"] #characterSelectList .character p{
  display: inline-block;
  width: 80%;
  vertical-align: middle;
  padding:0 0 0 30px;
  margin:0;
}
[data-scene="characterSelect"] #characterSelectList > div.hovered:before{
  font-size:2rem;
  position:absolute;
  left:-75px;
  top:20px;
}
[data-scene="characterSelect"] #characterSelectList > div.hovered[data-player="1"]:before{
  content: 'P1';
}
[data-scene="characterSelect"] #characterSelectList > div.hovered[data-player="2"]:before{
  content: 'P2';
}
[data-scene="characterSelect"] #characterSelectList > div.hovered[data-player="3"]:before{
  content: 'P3';
}


[data-scene="characterSelect"] #characterSelectList > div[data-character="Sofia"].selected:before{
  color:green;
}
[data-scene="characterSelect"] #characterSelectList > div[data-character="Sofia"].selected .character-inner img{
  border-color:green;
}
[data-scene="characterSelect"] #characterSelectList > div[data-character="Romy"].selected:before{
  color:blue;
}
[data-scene="characterSelect"] #characterSelectList > div[data-character="Romy"].selected .character-inner img{
  border-color:blue;
}
[data-scene="characterSelect"] #characterSelectList > div[data-character="Hannah"].selected:before{
  color:pink;
}
[data-scene="characterSelect"] #characterSelectList > div[data-character="Hannah"].selected .character-inner img{
  border-color:pink;
}