#sprites [data-sister]{
  width: 32px;
  height: 48px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  z-index:50;
}
#sprites [data-sister] .regPoint{
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  background-color: limegreen;
  display:none;
}
#sprites [data-sister="Romy"]{
  background-image: url('/assets/sprites/Romy-Front.gif');
}
#sprites [data-sister="Romy"].walking-down{
  background-image: url('/assets/sprites/Romy-Front-Walk.gif');
}
#sprites [data-sister="Romy"].walking-up{
  background-image: url('/assets/sprites/Romy-Back-Walk.gif');
}
#sprites [data-sister="Romy"].walking-left{
  background-image: url('/assets/sprites/Romy-Side-Walk.gif');
}
#sprites [data-sister="Romy"].walking-right{
  background-image: url('/assets/sprites/Romy-Side-Walk.gif');
  transform:scaleX(-1);
}
#sprites [data-sister="Sofia"]{
  background-image: url('/assets/sprites/Sofia-Front.gif');
}
#sprites [data-sister="Sofia"].walking-down{
  background-image: url('/assets/sprites/Sofia-Front-Walk.gif');
}
#sprites [data-sister="Sofia"].walking-up{
  background-image: url('/assets/sprites/Sofia-Back-Walk.gif');
}
#sprites [data-sister="Sofia"].walking-left{
  background-image: url('/assets/sprites/Sofia-Side-Walk.gif');
}
#sprites [data-sister="Sofia"].walking-right{
  background-image: url('/assets/sprites/Sofia-Side-Walk.gif');
  transform:scaleX(-1);
}
#sprites [data-sister="Hannah"]{
  background-image: url('/assets/sprites/Hannah-Front.gif');
}
#sprites [data-sister="Hannah"].walking-down{
  background-image: url('/assets/sprites/Hannah-Front-Walk.gif');
}
#sprites [data-sister="Hannah"].walking-up{
  background-image: url('/assets/sprites/Hannah-Back-Walk.gif');
}
#sprites [data-sister="Hannah"].walking-left{
  background-image: url('/assets/sprites/Hannah-Side-Walk.gif');
}
#sprites [data-sister="Hannah"].walking-right{
  background-image: url('/assets/sprites/Hannah-Side-Walk.gif');
  transform:scaleX(-1);
}
