:root {
  --black: #000;
  --white: #ffffff;
  --grey: #2f2f2f;
}

*{box-sizing:border-box;}
body, h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}
body{
  font-size:100%;
  color: var(--white);
  background-color: var(--black);
  font-family: lores-9-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
}
main{
  display: block;
  height: 606px;
  width: 806px;
  position: relative;
  background-color:#000;
  margin: 20px auto;
  border: 3px solid var(--white);
  overflow: hidden;
}
#world, #sprites, #hud{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
#sprites{
  z-index: 20;
}
#hud{
  z-index:50;
}
.unit{
  width:16px;
  height:16px;
}
hr.clear{
  clear:both;
  float:none;
  width:100%;
  height:0px;
  border:0px;
  margin:0;
  padding:0;
}